.btn {
  padding: 16px 15px;
  width: 100%;
  max-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.4px solid var(--blue-color);
  border-radius: 55px;
  background: var(--color-white);
  @include animate;
  @include media('<phone') {
    padding: 10px 15px;
    max-width: 180px;
  }

  &__text {
    max-width: calc(100% - 11px);
    display: block;
    font-size: 18px;
    color: var(--blue-color);
    transition: 0.3s;
  }

  &:hover {
    background: var(--blue-color);

    @include media('<=tablet') {
      background: var(--color-white);
    }

    .btn__text {
      color: var(--color-white);

      @include media('<=tablet') {
        color: var(--blue-color);
      }
    }
  }
}
