body.nav-open {
  @include media('<tablet') {
    overflow: hidden;
    .header__nav {
      padding: 50px 0;
      top: 0;
    }

    .header__burger {
      background-color: transparent;
      border-color: var(--color-white);

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
          transform: rotate(-45deg);
          background-color: var(--color-white);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          background-color: var(--color-white);
        }
      }
    }
  }
}

.header {
  &__nav {
    @include animate(color);
    @include media('<tablet') {
      @include animate(top);

      position: absolute;
      z-index: 1;
      width: 100%;
      top: -100%;
      left: 0;
      min-height: 100vh;
      background-color: var(--color-blue);
      display: flex;
      justify-content: center;

      &::after {
        content: '';
        height: 3px;
        border-radius: 4px;
        width: 50%;
        background: var(--color-white);
        position: absolute;
        bottom: 2px;
      }
    }
  }

  &__nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: flex-start;

    @include media('<tablet') {
      flex-direction: column;
      align-items: center;
    }
  }

  &__list-item {
    margin: 0 40px 0 0;
    list-style-type: none;
    &:last-child {
      margin: 0;
    }

    @include media('<tablet') {
      margin: 0;
    }
  }

  &__list-link {
    @include animate(color);

    text-decoration: none;
    display: inline-block;
    color: var(--header-links);
    font-size: 18px;
    &_active {
      color: var(--color-black);
    }

    @include media('hover') {
      &:hover {
        color: var(--color-black);
      }
    }

    @include media('<tablet') {
      color: var(--color-white);
      opacity: 1;
      padding: 10px 0;
      text-decoration: underline;
    }
  }
}
