<section class="check-articles">
  <div class="container">
    <div class="check-articles__deckor check-articles__deckor"></div>
    <div class="check-articles__wrapper">
      <h2 class="check-articles__title main-title">
        Check out our latest article
      </h2>
      <div class="check-articles__cards">
        <div class="check-articles__card">
          <img src="images/check-image-1.png" alt="check-image" />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Disease detection, check up in the laboratory
            </h3>
            <div class="check-articles__card-description">
              <p class="check-articles__description-text">
                In this case, the role of the health laboratory is very
                important to do a disease detection...
              </p>
            </div>
            <a href="#!" class="check-articles__card-link ellipsis">
              Read more
            </a>
          </div>
        </div>
        <div class="check-articles__card">
          <img src="images/check-image-2.png" alt="check-image" />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Herbal medicines that are safe for consumption
            </h3>
            <div class="check-articles__card-description">
              <p class="check-articles__description-text">
                In this case, the role of the health laboratory is very
                important to do a disease detection...
              </p>
            </div>
            <a href="#!" class="check-articles__card-link ellipsis">
              Read more
            </a>
          </div>
        </div>
        <div class="check-articles__card">
          <img
            src="images/check-image-3.png"
            alt="check-image"
            class="check-articles__card-img"
          />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Natural care for healthy facial skin
            </h3>
            <div class="check-articles__card-description">
              <p class="check-articles__description-text">
                A healthy lifestyle should start from now and also for your skin
                health. There are some... 
              </p>
            </div>
            <a href="#!" class="check-articles__card-link ellipsis">
              Read more
            </a>
          </div>
        </div>
      </div>
      <button type="button" class="btn check-articles__view-btn">
        <span class="btn__text check-articles__view-text">View all</span>
      </button>
    </div>
  </div>
</section>
