<section class="about-customer">
  <div class="container about-customer__wrapper">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBGkfb1_HlnQt2BT29SZeJpaIZGv0AZh9Y0w&usqp=CAU" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Avraam Linkoln</h3>
                  <h4 class="slide-customer-poisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIKxrvoGbxhD583c7fMlNLgj3_pZQYoleShw&usqp=CAU" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Mister Cat</h3>
                  <h4 class="slide-customer-poisition">Meow founder</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-poisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNPJCnB53Is30GPd_MLblr3-gzoNMtvarfCQ&usqp=CAU" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-poisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev icon-left"></div>
      <div class="swiper-button-next icon-right"></div>
    </div>
  </div>
</section>
