<section class="about-customer">
  <div class="container">
    <div class="about-customer__deckor-image"></div>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-oisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-oisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-oisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-oisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-wrapper">
            <h2 class="slide-title main-title">What our customer are saying</h2>
            <div class="slide-customer">
              <div class="slide-customer-info">
                <div class="slide-customer-photo">
                  <img src="images/customer-photo.png" alt="Edward Newgate" />
                </div>
                <div class="slide-customer-details">
                  <h3 class="slide-customer-name">Edward Newgate</h3>
                  <h4 class="slide-customer-oisition">Founder Circle</h4>
                </div>
              </div>
              <div class="slide-text-wrapper">
                <p class="slide-customer-text">
                  “Our dedicated patient engagement app and web portal allow you
                  to access information instantaneously (no tedeous form, long
                  calls, or administrative hassle) and securely”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev icon-left"></div>
      <div class="swiper-button-next icon-right"></div>
    </div>
  </div>
</section>
