<section class="hero" id="home">
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="main-title hero__title">Download our mobile apps</h1>
        <p class="hero__description">
          Our dedicated patient engagement app and web portal allow you to
          access information instantaneously (no tedeous form, long calls, or
          administrative hassle) and securely
        </p>
        <button class="btn hero__download-btn">
          <span class="btn__text ellipsis hero__download-text">Download</span>
        </button>
      </div>
      <div class="hero__visual">
        <img src="images/hero-view-img.png" alt="hero-image" />
      </div>
    </div>
    <div class="deckor-block"></div>
  </div>
</section>
