<section class="check-articles">
  <div class="container">
    <div class="check-articles__deckor check-articles__deckor">
        <img src="images/decor-block.png" alt="deckor-dots">
    </div>
    <div class="check-articles__wrapper">
        <h2 class="check-articles__title main-title">Check out our latest article</h2>
      <div class="check-articles__cards">
        <div class="check-articles__card">
          <img
            src="images/check-image-1.png"
            alt="check-image"
            class="check-articles__card-img"
          />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Disease detection, check up in the laboratory
            </h3>
            <p class="check-articles__card-descr">
              In this case, the role of the health laboratory is very important
              to do a disease detection...
            </p>
            <a href="javascript:void(0)" class="check-articles__card-link">
              Read more
              <i class="icon-icon-right"></i>
            </a>
          </div>
        </div>
        <div class="check-articles__card">
          <img
            src="images/check-image-2.png"
            alt="check-image"
            class="check-articles__card-img"
          />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Herbal medicines that are safe for consumption
            </h3>
            <p class="check-articles__card-descr">
              Herbal medicine is very widely used at this time because of its
              very good for your health...
            </p>
            <a href="javascript:void(0)" class="check-articles__card-link">
              Read more
              <i class="icon-icon-right"></i>
            </a>
          </div>
        </div>
        <div class="check-articles__card">
          <img
            src="images/check-image-3.png"
            alt="check-image"
            class="check-articles__card-img"
          />
          <div class="check-articles__card-text">
            <h3 class="check-articles__card-title">
              Natural care for healthy facial skin
            </h3>
            <p class="check-articles__card-descr">
              A healthy lifestyle should start from now and also for your skin
              health. There are some...
            </p>
            <a href="javascript:void(0)" class="check-articles__card-link">
              Read more
              <i class="icon-icon-right"></i>
            </a>
          </div>
        </div>
      </div>
      <button class="btn check-articles__view-btn">
        <span class="btn__text check-articles__view-text">View all</span>
    </div>
  </div>
</section>
