<footer class="footer footer_relative">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__info">
        <div class="footer__logo">
          <img src="images/footer-logo.svg" alt="Trafagar" />
        </div>
        <div class="footer__info-text">
          <p class="footer__info-about">
            Trafalgar provides progressive, and affordable healthcare,
            accessible on mobile and online for everyone
          </p>
          <span class="footer__copyright">
            ©Trafalgar PTY LTD 2020. All rights reserved
          </span>
        </div>
      </div>
      <div class="footer__info-lists">
        <ul class="footer__info-list">
          <h3 class="footer__list-title">Company</h3>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">About</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Testimonials</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Find a doctor</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Apps</a>
          </li>
        </ul>
        <ul class="footer__info-list">
          <h3 class="footer__list-title">Rigion</h3>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Indonesia</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Singapore</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Honkong</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Canada</a>
          </li>
        </ul>
        <ul class="footer__info-list">
          <h3 class="footer__list-title">Help</h3>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Help center</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Contact support</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">Instructions</a>
          </li>
          <li class="footer__list-item">
            <a href="#!" class="footer__list-link">How it works</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__deckor footer__deckor_first"></div>
  </div>
  <div class="footer__deckor footer__deckor_second">
    <div class="inner"></div>
  </div>
</footer>
