<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header-logo">
        <a data-anchor href="#home" class="header__logo-link">
          <img src="images/header-logo.svg" alt="Trafalgar" />
        </a>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__list-item">
            <a href="#home" class="header__list-link" data-anchor>Home</a>
          </li>
          <li class="header__list-item">
            <a href="#apps" class="header__list-link" data-anchor>Apps</a>
          </li>
          <li class="header__list-item">
            <a href="#testimonials" class="header__list-link" data-anchor
              >Testimonials</a
            >
          </li>
          <li class="header__list-item">
            <a href="#about" class="header__list-link" data-anchor>About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <button class="header__burger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
