<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header-logo">
        <img src="images/header-logo.svg" alt="Trafalgar" />
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__list-item">
            <a href="#!" class="header__list-link header__list-link_active"
              >Home</a
            >
          </li>
          <li class="header__list-item">
            <a href="#!" class="header__list-link">Apps</a>
          </li>
          <li class="header__list-item">
            <a href="#!" class="header__list-link">Testimonials</a>
          </li>
          <li class="header__list-item">
            <a href="#!" class="header__list-link">About us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
