.check-articles {
  padding: 84px 0 168px 0;
  &_relative {
    position: relative;
  }

  &__deckor {
    z-index: -1;
    width: 132px;
    min-height: 142px;
    background: url('../images/decor-block.png') bottom left/contain no-repeat;
    position: absolute;
    top: 75px;
    left: -35px;

    &_bottom {
      bottom: 0;
      right: 0;
    }
  }

  &__title {
    text-align: center;
    &::before {
      left: 48%;
    }
  }

  &__cards {
    margin: 72px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 375px));
    grid-template-rows: minmax(512px, auto);
    grid-auto-rows: minmax(512px, auto);
    gap: 36px;
  }

  &__card {
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    overflow: hidden;
  }

  &__card-text {
    padding: 21px 36px 0 36px;
  }

  &__card-title {
    font-size: 21px;
    max-width: 250px;
    line-height: 32px;
    margin: 0;
  }

  &__card-description {
    margin: 12px 0 0 0;
  }

  &__description-text {
    font-size: 16px;
    font-weight: 300;
    color: var(--description-color);
    line-height: 28px;
    margin: 0;
  }

  &__card-link {
    width: 40%;
    display: block;
    color: var(--blue-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 0 0;
    position: relative;
    &::before {
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      font-size: 9px;
      @extend [class*=' icon-'];
      @extend .icon-right;
    }
  }

  &__view-btn {
    display: flex;
    margin: 72px auto 0;
    align-items: flex-start;
    justify-content: center;
  }
}
