.about-customer {
  margin: 0 0 168px 0;
  @include media('<desktop') {
    margin: 0 0 84px 0;
  }

  &__wrapper {
    &::before {
      content: '';
      display: block;
      width: 132px;
      min-height: 142px;
      position: absolute;
      top: 241px;
      left: -45px;
      background: url('../images/decor-block.png') bottom left/contain no-repeat;
      z-index: 2;

      @include media('<phone') {
        display: none;
      }
    }
  }

  .swiper {
    width: 100%;
    padding: 0 0 60px 0;

    @include media('<desktop') {
      z-index: 0;
    }
  }

  .swiper-slide {
    padding: 64px 126px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background: var(--slider-bg);
    border-radius: 24px;

    @include media('<desktop') {
      padding: 25px;
    }

    @include media('<tablet') {
      min-height: auto;
      padding: 45px 15px;
    }

    @include media('<phone') {
      min-height: auto;
      padding: 25px 15px;
    }
  }

  .swiper-slide-wrapper {
    width: 100%;
  }

  .swiper-pagination {
    bottom: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: unset;
    height: auto;
    bottom: 0;
    font-size: 18px;
    margin: 0;
    &::after {
      display: none;
    }
  }

  .swiper-button-prev {
    left: 450px;

    @include media('<widescreen') {
      left: 350px;
    }

    @include media('<desktop') {
      left: 250px;
    }

    @include media('<tablet') {
      display: none;
    }
  }

  .swiper-button-next {
    right: 450px;

    @include media('<widescreen') {
      right: 350px;
    }

    @include media('<desktop') {
      right: 250px;
    }

    @include media('<tablet') {
      display: none;
    }
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal
    .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 10px;
    width: 10px;
    height: 10px;

    @include media('<phone') {
      margin: 0 5px;
    }
  }

  .slide-title {
    text-align: center;
    color: var(--color-white);
    &::before {
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-white);
    }

    @include media('<tablet') {
      padding: 0 0 20px 0;
      text-align: center;
    }

    @include media('<phone') {
      line-height: 36px;
    }
  }

  .slide-customer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 0 0 0;

    @include media('<desktop') {
      padding: 33px 0 0 0;
    }

    @include media('<tablet') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .slide-customer-photo {
    border: 5px solid #fff;
    width: 151px;
    height: 151px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media('<phone') {
      width: 120px;
      height: 120px;
    }

    @include media('<350px') {
      width: 110px;
      height: 110px;
    }
  }

  .slide-customer-details {
    padding: 0 0 0 31px;

    @include media('<phone') {
      padding: 0 0 0 10px;
    }
  }

  .slide-customer-name {
    font-size: 22px;
    margin: 0;
    font-weight: 700;
    color: var(--color-white);
    white-space: nowrap;

    @include media('<phone') {
      font-size: 18px;
    }
  }

  .slide-customer-poisition {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    color: var(--color-white);
    line-height: 48px;

    @include media('<tablet') {
      margin: 0;
    }
  }

  .slide-customer-info {
    display: flex;
    align-items: center;

    @include media('<tablet') {
      margin: 0 0 25px 0;
    }

    @include media('<phone') {
      flex-direction: column;
      text-align: center;
      margin: 0 0 15px 0;
    }
  }

  .slide-text-wrapper {
    
    @include media('<1100px') {
      padding: 0 0 0 15px;
    }

    @include media('<phone') {
      padding: 0;
    }
  }

  .slide-customer-text {
    max-width: 412px;
    margin: 0;
    color: var(--color-white);
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;

    @include media('<tablet') {
      text-align: center;
    }

    @include media('<phone') {
      font-size: 16px;
      line-height: 25px;
    }
  }
}
