.hero {
  padding: 104px 0 84px 0;
  overflow: hidden;
  min-height: 534px;
  @include media('<desktop') {
    padding: 104px 0 44px 0;
  }

  .deckor-block {
    width: 135px;
    min-height: 145px;
    background: url('../images/decor-block.png') bottom left/contain no-repeat;
    position: absolute;
    top: -130px;
    right: -125px;
    @include media('<desktop') {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    @include media('<tablet') {
      flex-wrap: wrap;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;
  }

  &__visual {
    max-width: 696px;
    @include media('<desktop') {
      margin: 50px 0 0 0;
      max-width: 500px;
    }
  }

  &__title {
    max-width: 265px;
    line-height: 48px;
    @include media('<tablet') {
      padding: 0 0 20px 0;
    }
  }

  &__description {
    margin: 31px 0 0 0;
    max-width: 365px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    @include media('<phone') {
      font-size: 16px;
    }
  }

  &__download-btn {
    margin: 40px 0 0 0;
  }

  &__download-text {
    display: block;
    padding: 0 20px 0 0;
    position: relative;
    &::before {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @extend [class*=' icon-'];
      @extend .icon-down;
      font-size: 15px;
    }
  }
}
