.hero {
  padding: 120px 0 0 0;
  margin: 0 0 153px 0;
  overflow: hidden;

  @include media('<desktop') {
    margin: 0 0 84px 0;
  }

  @include media('<tablet') {
    margin: 0 0 84px 0;
    padding: 50px 0 0 0;
  }

  .container {
    &:before {
      content: '';
      width: 135px;
      min-height: 145px;
      background: url('../images/decor-block.png') bottom left/contain no-repeat;
      position: absolute;
      top: -147px;
      right: -77px;

      @include media('<desktop') {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media('<tablet') {
      flex-wrap: wrap;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 440px;
    padding: 24px 0 0 0;

    @include media('<desktop') {
      padding: 0;
    }
  }

  &__visual {
    max-width: 696px;

    @include media('<tablet') {
      margin: 0 0 50px 0;
      max-width: 500px;
      order: -1;
    }
  }

  &__title {
    max-width: 265px;
    line-height: 48px;

    @include media('<tablet') {
      padding: 0 0 20px 0;
    }
  }

  &__description {
    margin: 33px 0 0 0;
    max-width: 365px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;

    @include media('<phone') {
      font-size: 16px;
    }
  }

  &__download-btn {
    margin: 40px auto 0 0;
    padding: 16px 65px 16px 45px;
    position: relative;
    text-align: left;

    @include media('<tablet') {
      padding: 10px 45px 10px 45px;
    }

    &::before {
      @extend [class*=' icon-'];
      @extend .icon-down;

      position: absolute;
      display: block;
      right: 44px;
      font-size: 16px;
      top: 50%;
      transform: translateY(-50%);

      @include media('<tablet') {
        right: 32px;
      }
    }
  }

  &__download-text {
    display: block;
    padding: 0 35px 0 0;
    position: relative;
    &::before {
      @extend [class*=' icon-'];
      @extend .icon-down;

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 15px;
      font-weight: 700;
    }
  }
}
